<table>
  <tr>
    <td class="boggle-letter">X</td>
    <td class="boggle-letter">X</td>
    <td class="boggle-letter">X</td>
    <td class="boggle-letter">X</td>
  </tr>
    <td class="boggle-letter">X</td>
    <td class="boggle-letter">X</td>
    <td class="boggle-letter">X</td>
    <td class="boggle-letter">X</td>
  </tr>
  <tr>
    <td class="boggle-letter">X</td>
    <td class="boggle-letter">X</td>
    <td class="boggle-letter">X</td>
    <td class="boggle-letter">X</td>
  </tr>
  <tr>
    <td class="boggle-letter">X</td>
    <td class="boggle-letter">X</td>
    <td class="boggle-letter">X</td>
    <td class="boggle-letter">X</td>
  </tr>
</table>
