<table>
  <% @letters.each_char do |letter| %>
    <tr class="boggle-row">
       <td class="boggle-letter">
          <%= letter %>
        </td>
    </tr>
  <% end %>
</table>

<%= button_to "Start game", action: "update" %>
