// Place all the styles related to the BoggleGame controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  border-spacing: 5px;
}

td.boggle-letter {
  width: 80px;
  height: 80px;
  font-family: Arial, sans-serif;
  font-size: 60px;
  text-align: center;
  border: 6px double;
}

form.button_to {
  margin-top: 40px;
}
